/* Navbar */

.logo-img{
  height: 50px;
  margin-left: 1.4%;
}
.logo-text{
  font-size: 0.98rem;
  margin-top: 2%;
}
.navbar{
  justify-content: center;
  align-items: center;
  background-color: #95c2e782;
  padding: 10px 0px; 
  max-width: 88%;
  margin: 0 auto;
  border-radius: 8px;
}
.navbar a{
  transition: transform 0.3s ease, font-size 0.3s ease;
  font-size: 15px;
  color: rgb(42, 65, 214);
}
.navbar a:hover {
  /* background-color: #c1c6df80; */
  border-radius: 4px;
  color: rgb(2, 2, 11);
  font-size: 17px;
  transform: scale(1.1);
}




/* Main Page */
.weather-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
}
.weather-info {
  margin-top: 30px;
}

.weather-container {
  position: relative;
  max-width: 1100px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.weather-container::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://media.istockphoto.com/id/962500712/video/4k-tl-cloudy-sky-with-sun-rays.jpg?s=640x640&k=20&c=XQrz-Y4FIzovVlayePLhPZpHoM8-iLN7gZ_uSdnoe-8=");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  z-index: -1;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
  font-size: 24px;
}

p {
  margin: 5px 0;
  font-size: 18px;
}



.navbar-brand{
  margin-left: 10%;
}
#navbarNav{
  margin-left: 45%;
}

ul li{
  padding: 15px;
  margin-bottom: 5px;
}


@media screen and (max-width: 1025px) {
  .navbar{
    max-width: 99%;
  }
}


@media screen and (max-width: 769px){
  .navbar{
    padding: 8px 0px;
    max-width: 99%;
    /* background-color: yellow; */
  }
  ul li{
    padding: 5px;
  }
  .navbar-toggler{
    width: 15%;
  }
  #navbarNav{
    margin-left: 5%;
  }
  .logo-text{
    font-size: 0.80rem;
    margin-top: 1%;
  }
}

@media screen and (max-width: 480px){
  .navbar{
    padding: 6px 0px;
    max-width: 100%;
    border-radius: 5px;
    /* background-color: pink; */
  }
  ul li{
    padding: 0px;
    margin: 0 auto;
  }
  .navbar-toggler{
    width: 18%;
  }
  .navbar-toggler-icon{
    align-items: center;

    /* margin-left: -3%; */
    /* width: 20%; */
    /* margin-left: -10%; */
  }
  .logo-text{
    font-size: 0.80rem;
    margin-top: 6%;
    margin-left: -43%;
  }
  button{
    /* padding: 10px 10px; */
    width: 40%;
  }
  input{
    width: 32%;
  }
}


